<div class="container">
  <h1>Login page</h1>
  <form action='/sessions' method='post'>
    <p><label for='username'>User Name:</label>
    <input type='text' name='username'></p>
    <p><label for='password'>Password:</label>
    <input type='text' name='password'></p>
    <input type='submit' value="GO!">
  </form>
</div>

