
<a href="/users/<%=@user_id%>">Back to Profile</a>

<h1> Follow Whats Happening On Twitter </h1>

<% @sorted_tweets.each do |each_tweet| %>
<ul>
 user: <%=each_tweet.user.username %>   <form action="/users/<%=each_tweet.user.id%>/followers" method="POST">
                                          <input type="submit" value="Follow this User">
<br>
  tweet: <%=each_tweet.body%> <a href="#">Retweet</a>
<br>



</ul>
  <% end %>
