<!-- This page shows a form to create a new tweet -->
<div class='container'>
  <h1>New Tweet</h1>
  <form action='/tweets' method='post'>
  <p><label for='body'>Tweet Me:</label>
    <TEXTAREA ROWS=7 COLS=70 name='body'></TEXTAREA></p>
    <input type='submit' value='Post Tweet'>
  </form>
</div>
