#This page displays a user's profile page and their tweets
<div class='container'>
  <p><h1><%= @user.full_name %></h1></p>
  <p><%= @user.email %></p>
  <p><%= @user.password %></p>
</div>
<p><form action="/sessions/<%= @user.id %>" method="post">
  <input type="hidden" name="_method" value="delete">
  <input type="submit" value="Logout">
 </form></p>
<p><a href="/">Return to Homepage</a></p>
