<<<<<<< HEAD
<div class="container">
  <h1>Welcome to Lil Twitter!</h1>
=======








    <!-- Page Content -->
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-12">
  <h1>Welcome to Li Twitter!</h1>
>>>>>>> e59c4caba07135c73c760117e7d0506d369e0854
  <p>Hello, world!</p>
                <p><a href="/users/new">Register</a></p>
  <p><a href="/sessions/new">Login</a></p>
            </div>
        </div>
    </div>
